<!DOCTYPE html>
<html>
        <html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Filmes Cadastrados</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/Estilo.css}">
    </head>
    <body>
        <div class="form-container">
            <h1>Filmes Cadastrados</h1>
            <ul>
                <li th:each="filme : ${filmes}">
                    <a th:href="@{/filmes/{id}(id=${filme.id})}" th:text="${filme.titulo}"></a>
                </li>
            </ul>
            <a href="/filmes/novo">Cadastrar Novo Filme</a>
        </div>
    </body>
</html>
